{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <div class="φj">
        <div class="φi">
            <div class="φn">
                <div class="φm">
                    <div class="φeo">

                        <header class="φeq">
                            <h1 class="φes">打赏</h1>
                        </header>

                        <article class="φep"
                                 data-title="打赏">
                            <div itemprop="articleBody"
                                 class="φe">

                                <p>维护网站需要一定精力，你的打赏将是对我的最大肯定和继续保持维护的最大动力！</p>
                                <p>微信赞赏码：</p>

                                <p><img src="https://cdn.jsdelivr.net/gh/AnotiaWang/animenz@source/img/DONATE.png"
                                        alt="QR-code" loading="lazy" class="φbp"></p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}