{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <div class="φj">
        <div class="φi">
            <div class="φn">
                <div class="φm">
                    <div class="φeu">

                        {% for sheet in sheets %}
                            <div class="φce">
                                <div class="φch">
                                    <h3 class="φcl">
                                        <a href="{% url 'post' sheet.slug %}">{{ sheet.name }}</a>
                                    </h3>
                                    <footer class="φcg">
                                        <span class="φci"><i
                                                class="φa iκ-calendar φcj"></i>{{ sheet.created_at|date:"Y" }}年
                                            {{ sheet.created_at|date:"m" }}月{{ sheet.created_at|date:"d" }}日</span>
                                    </footer>
                                </div>
                            </div>
                        {% endfor %}

                        {% if page_obj.has_other_pages %}
                            <div class="φby">

                                {% if page_obj.has_previous %}
                                    <a class="φbz φcd" href="?page={{ page_obj.previous_page_number }}"></a>
                                {% endif %}

                                {% for p in page_obj.paginator.page_range %}

                                    {% if page_obj.number == p %}
                                        <a class="φbz φca"
                                           href="?page={{ p }}">{{ p }}</a>
                                    {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                                        <a class="φbz"
                                           href="?page={{ p }}">{{ p }}</a>
                                    {% endif %}

                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <a class="φbz φcc"
                                       href="?page={{ page_obj.next_page_number }}"></a>
                                {% endif %}

                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="φz">

                <div class="φbi">
                    <span class="φa iκ-up"></span>
                    <span class="φa iκ-down"></span>
                    <span class="φa iκ-search"></span>
                </div>

                <div class="φbb φbc">

                    <svg class="φbh">

                    <defs>
                        <filter id="dp">
                            <feGaussianBlur in="SourceGraphic" stdDeviation="2"></feGaussianBlur>
                        </filter>
                    </defs>

                        <circle filter="url(#dp)" fill="rgba(0,0,0,.3)" cx="50%" cy="52%" r="44%"></circle>
                        <circle cx="50%" cy="50%" r="44%" class="φbd"></circle>
                        <circle cx="50%" cy="50%" r="48%" class="φbg" stroke-dasharray="0% 314.15926%"></circle>

                        <g class="φbe">
                            <circle r=".2rem" cx="0" cy="-.8rem"></circle>
                            <circle r=".2rem"></circle>
                            <circle r=".2rem" cx="0" cy=".8rem"></circle>
                        </g>

                    </svg>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}