{% extends 'base.html' %}

{% block title %}
    {{ title }} - Animenz 曲谱
{% endblock title %}

{% block content %}
    <div class="φj">
        <div class="φi">
            <div class="φn">
                <div class="φm">
                    <div class="φet">

                        <header class="φfd φfe">
                            <div class="φfm"><h1 class="φfp">{{ sheet.name }}</h1>
                                <p class="φff">
                                    <span class="φci"><i class="φa iκ-calendar φcj"></i>
                                        {{ sheet.created_at|date:"Y" }}年
                                        {{ sheet.created_at|date:"m" }}月
                                        {{ sheet.created_at|date:"d" }}日
                                    </span>
                                </p>
                            </div>
                        </header>

                        <article class="φew"
                                 data-title="残酷天使的行动纲领 – 新世纪福音战士 OP1">

                            <div itemprop="articleBody"
                                 class="φe">

                                <p>{{ sheet.description }}</p>

                                <p><img src="{{ sheet.photo.url }}"
                                        alt="{{ sheet.photo.name }}" loading="lazy" class="φbp"></p>

                                {% if sheet.url %}
                                    <p><a href="{{ sheet.url }}" target="_blank">下载PDF</a></p>
                                {% else %}
                                    <p>没有链接PDF</p>
                                {% endif %}
                            </div>
                        </article>

                        <footer class="φex">

                            <div class="φfc">
                                {% for tag in sheet.tags.all %}
                                    <div class="φdo">
                                        <a class="φdp"
                                           href="{% url 'tag_name' tag.slug %}">{{ tag.name }}</a>
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="φey">
                                {% for i in previous_page %}
                                    <a class="φez φfb"
                                       href="{% url 'post' i.slug %}">{{ i.name }}</a>
                                {% endfor %}
                                {% for i in next_page %}
                                    <a class="φez φfa"
                                       href="{% url 'post' i.slug %}">{{ i.name }}</a>
                                {% endfor %}
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
