{% load sidebar_tags %}

<div class="φcu">
    <div class="φdg">
        <section class="φdh">

            <header class="φcv">
                <img src="https://cdn.jsdelivr.net/gh/AnotiaWang/animenz@source/img/avatar.png"
                     width="160"
                     draggable="false"
                     class="φcx φcw"
                     alt="Animenz 曲谱"
                     title="Animenz 曲谱">
                <a href="/"
                   class="φcz">Animenz 曲谱</a>
                <p class="φcy">Specially for Animenz fans</p>
            </header>

            <div class="φdl">
                {% if name_page == 'archives' %}
                    <a class="φdm φdn"
                       href="/archives">
                        <span>{% get_count_archives %}</span><span>归档</span>
                    </a>
                {% else %}
                    <a class="φdm"
                       href="/archives">
                        <span>{% get_count_archives %}</span><span>归档</span>
                    </a>
                {% endif %}

                {% if name_page == 'categories' %}
                    <a class="φdm φdn"
                       href="/categories/">
                        <span>{% get_count_categories %}</span><span>分类</span>
                    </a>
                {% else %}
                    <a class="φdm"
                       href="/categories/">
                        <span>{% get_count_categories %}</span><span>分类</span>
                    </a>
                {% endif %}

                {% if name_page == 'tags' %}
                    <a class="φdm φdn"
                       href="/tags">
                        <span>{% get_count_tags %}</span><span>标签</span>
                    </a>
                {% else %}
                    <a class="φdm"
                       href="/tags">
                        <span>{% get_count_tags %}</span><span>标签</span>
                    </a>
                {% endif %}
            </div>

            <nav class="φdi">
                {% if name_page == 'home' %}
                    <a class="φdj φdk"
                       href="/">🏠　主页</a>
                {% else %}
                    <a class="φdj"
                       href="/">🏠　主页</a>
                {% endif %}

                {% if name_page == 'about' %}
                    <a class="φdj φdk"
                       href="/about">📝　关于</a>
                {% else %}
                    <a class="φdj"
                       href="/about">📝　关于</a>
                {% endif %}

                <a target="_blank"
                   rel="external nofollow noopener"
                   class="φdj"
                   href="https://space.bilibili.com/6075139">📺　Bilibili</a>

                {% if name_page == 'donate' %}
                    <a class="φdj φdk"
                       href="/donate">💲　打赏支持</a>
                {% else %}
                    <a class="φdj"
                       href="/donate">💲　打赏支持</a>
                {% endif %}
            </nav>

            <div issnippet="" class="φb"></div>
        </section>

        <footer class="φdb φdc">
            <div class="φde">
                <a target="_blank"
                   rel="external nofollow noopener"
                   class="φdf"
                   title="Email"
                   href="mailto:mail@to.anotia.top">
                    <div class="iκ-email"></div>
                </a>
                <a target="_blank"
                   rel="external nofollow noopener"
                   class="φdf"
                   title="RSS"
                   href="https://animenz.anotia.top/atom.xml">
                    <div class="iκ-feed"></div>
                </a>
            </div>

            <p class="φe">© 2020-2022 ❤️<a href="/">Animenz 曲谱网</a></p>
            <p class="φe"></p>

            <div>
                <span title="总访客量"> UV :<span id="busuanzi_value_site_uv"></span></span> |
                <span title="总访问量"> PV :<span id="busuanzi_value_site_pv"></span></span>
            </div>
        </footer>
    </div>
</div>
